## GLOBAL SHARCK ATTACKS.

In [1]:
import pandas as pd
import numpy as np

import warnings

warnings.filterwarnings('ignore')
pd.set_option('display.max_columns', None)

In [2]:
df_original = pd.read_csv('data/attacks.csv', encoding='latin1')

df = df_original.copy()

# 1. Exploración inicial.

In [3]:
dim_original = df.shape # De esta forma guardo las dimensiones del data frame original.

df.shape

(25723, 24)

In [4]:
df.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [5]:
df.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [6]:
df.dtypes

Case Number                object
Date                       object
Year                      float64
Type                       object
Country                    object
Area                       object
Location                   object
Activity                   object
Name                       object
Sex                        object
Age                        object
Injury                     object
Fatal (Y/N)                object
Time                       object
Species                    object
Investigator or Source     object
pdf                        object
href formula               object
href                       object
Case Number.1              object
Case Number.2              object
original order            float64
Unnamed: 22                object
Unnamed: 23                object
dtype: object

In [7]:
df.info() # De este modo conzco el tipo de dato y los valores nulos que tiene cada una de las columnas.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25723 entries, 0 to 25722
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             8702 non-null   object
 1   Date                    6302 non-null   object
 2   Year                    6300 non-null   float64
 3   Type                    6298 non-null   object
 4   Country                 6252 non-null   object
 5   Area                    5847 non-null   object
 6   Location                5762 non-null   object
 7   Activity                5758 non-null   object
 8   Name                    6092 non-null   object
 9   Sex                     5737 non-null   object
 10  Age                     3471 non-null   object
 11  Injury                  6274 non-null   object
 12  Fatal (Y/N)             5763 non-null   object
 13  Time                    2948 non-null   object
 14  Species                 3464 non-null   object
 15  Investigator or Source  6285 non-null   object
 16  pdf                     6302 non-null   object
 17  href formula            6301 non-null   object
 18  href                    6302 non-null   object
 19  Case Number.1           6302 non-null   object
 20  Case Number.2           6302 non-null   object
 21  original order          6309 non-null   float64
 22  Unnamed: 22             1 non-null      object
 23  Unnamed: 23             2 non-null      object
dtypes: float64(2), object(22)
memory usage: 4.7+ MB

# 2. Anulación de duplicados.

In [8]:
df.duplicated().any()

True

In [9]:
df.drop_duplicates(inplace = True)

In [10]:
df.shape

(6312, 24)

# 3. Exploración y anulación de valores nulos.

# 3.1 Filas con más del 95% de valores nulos.

Comienzo por identificar las filas que aún tienen un alto porcentaje de valores nulos, utilizando un umbral del 95%.

In [11]:
null_filas = df.isnull().sum(axis=1) / len(df.columns) # proporción de valores nulos en cada fila.
null_filas

0        0.083333
1        0.125000
2        0.125000
3        0.166667
4        0.166667
           ...
6307     0.916667
6308     0.916667
6309     0.958333
8702     1.000000
25722    0.958333
Length: 6312, dtype: float64

In [12]:
umbral = 0.95 # 95% de valores nulos.

In [16]:
filas_nulos095 = df[null_filas >= umbral]
filas_nulos095.shape

(3, 24)

In [17]:
filas_primer_limpiado = filas_nulos095.index

In [18]:
df.drop(filas_primer_limpiado, inplace = True)

In [19]:
df.shape

(6309, 24)

In [20]:
# Columnas con valores nulos:

nan_cols = df.isna().sum()
nan_cols[nan_cols>0]

Case Number                  1
Date                         7
Year                         9
Type                        11
Country                     57
Area                       462
Location                   547
Activity                   551
Name                       217
Sex                        572
Age                       2838
Injury                      35
Fatal (Y/N)                546
Time                      3361
Species                   2845
Investigator or Source      24
pdf                          7
href formula                 8
href                         7
Case Number.1                7
Case Number.2                7
Unnamed: 22               6308
Unnamed: 23               6307
dtype: int64

In [21]:
nan_cols.sum()

24734

# 3.2 Columnas "Unnamed".

Dado que las columnas "Unnamed: 22" y "Unnamed: 23" contienen principalmente valores nulos, he decidido eliminarlas temporalmente. En un momento posterior, consideraré la posibilidad de crear nuevas columnas según sea necesario.

In [22]:
df = df.drop(df.columns[df.columns.str.contains("Unnamed")], axis=1)

In [23]:
#df.head()

# 3.3 Columna "Case Number".

In [24]:
df[df["Case Number"].isnull()].index

Int64Index([5488], dtype='int64')

In [25]:
df.loc[5488, "Case Number"] = "1905.09.06"

# 3.4 Columna "Year".

In [26]:
df[df["Year"].isnull()].index

Int64Index([187, 6079, 6302, 6303, 6304, 6305, 6306, 6307, 6308], dtype='int64')

In [27]:
df.loc[187, "Year"] = "2017"
df.loc[6079, "Year"] = "1936"

# 3.5 Columna "Type".

In [28]:
df[df["Type"].isnull()].index

Int64Index([85, 382, 4867, 5705, 6302, 6303, 6304, 6305, 6306, 6307, 6308], dtype='int64')

In [29]:
df["Type"].fillna("Unknown", inplace=True)

# 3.6 Columna "Country".

En primer lugar, eliminaré las filas que no contengan valores en las columnas "Country," "Area," ni "Location".

In [30]:
filas_null = df[df["Country"].isnull() & df["Area"].isnull() & df["Location"].isnull()] 
filas_null.index

Int64Index([  62,  525, 3378, 3388, 3395, 3399, 3425, 3661, 4726, 4729, 4911,
            5060, 5586, 5587, 5636, 5770, 5839, 5885, 5920, 5996, 6001, 6092,
            6119, 6131, 6133, 6165, 6171, 6199, 6259, 6302, 6303, 6304, 6305,
            6306, 6307, 6308],
           dtype='int64')

In [31]:
df.drop(filas_null.index, inplace=True)

In [32]:
df.shape

(6273, 22)

In [34]:
nan_cols = df.isna().sum()
nan_cols[nan_cols>0]

Country                     21
Area                       426
Location                   511
Activity                   537
Name                       210
Sex                        563
Age                       2808
Injury                      26
Fatal (Y/N)                536
Time                      3329
Species                   2817
Investigator or Source      17
href formula                 1
dtype: int64

Ahora quiero identificar las filas donde la columna "Country" tiene valores nulos.

In [35]:
df[df["Country"].isnull()]

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order
2956,1983.00.00.d,Ca. 1983,1983.0,Unprovoked,NaN,English Channel,NaN,Swimming,Padma Shri Taranath Narayan Shenoy,M,NaN,Left leg bitten,N,NaN,NaN,"Times of India, 2/5/2012",1983.00.00.d-Shenoy.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1983.00.00.d,1983.00.00.d,3347.0
3387,1970.08.02,02-Aug-1970,1970.0,Invalid,NaN,Caribbean Sea,Between St. Kitts & Nevis,Sea Disaster Sinking of ferryboat Christina,NaN,NaN,NaN,"Sharks scavenged on bodies, but no record of t...",NaN,Afternoon,Shark involvement prior to death was not confi...,"Rome News Tribune, 8/3/1970",1970.08.02-Christina-ferryboat.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1970.08.02,1970.08.02,2916.0
3605,1965.10.21,21-Oct-1965,1965.0,Unprovoked,NaN,NaN,Florida Strait,The boat Caribou II sank,Mario Castellanos,M,39,Survived,N,NaN,NaN,"Lodi News Sentinel, 10/30/1965",1965.10.21-Castellanos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1965.10.21,1965.10.21,2698.0
4018,1960.01.26,26-Jan-1960,1960.0,Sea Disaster,NaN,"Between Timor & Darwin, Australia",NaN,Portuguese Airliner with 9 people aboard went ...,NaN,NaN,NaN,"As searchers approached wreckage, sharks circl...",N,NaN,NaN,"V.M. Coppleson (1962), p.260",1960.01.26-Portuguese airliner.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1960.01.26,1960.01.26,2285.0
4231,1956.09.13,13-Sep-1956,1956.0,Unprovoked,NaN,Near the Andaman & Nicobar Islands,NaN,Climbing back on ship,male,M,NaN,FATAL,Y,P.M.,Blue shark,M. Hosina,1956.09.13-TunaBoat.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1956.09.13,1956.09.13,2072.0
4266,1956.00.00.g,1956,1956.0,Sea Disaster,NaN,Between Comores & Madagascar,Geyser Bank,Shipwreck,"Captain Eric Hunt, the cook & a French passenger",M,NaN,FATAL,Y,NaN,NaN,dinofish.com,1956.00.00.g-Capt-Hunt.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1956.00.00.g,1956.00.00.g,2037.0
4498,1949.12.00.b,Dec-1949,1949.0,Sea Disaster,NaN,Caribbean Sea,Between Cuba & Costa Rica,"Sea Disaster, sinking of the motorship Wingate","Albert Battles, James Dean & 4 crew",M,NaN,Fatal or drowning or scavenging,Y,NaN,Shark involvement not confirmed,"Canberra Times, 1/6/1950",1949.12.00.b-Wingate.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1949.12.00.b,1949.12.00.b,1805.0
4639,1944.10.24,24-Oct-1944,1944.0,Sea Disaster,NaN,NaN,225 miles east of Hong Kong,Japanese POW ship Arisan Maru with 1800 Americ...,NaN,M,NaN,Most of the men drowned & some were taken by s...,Y,>17h30,NaN,internet (multiple),1944.10.24-ArisanMaru.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1944.10.24,1944.10.24,1664.0
4700,1942.11.00.a,Nov-1942,1942.0,Sea Disaster,NaN,Off South American coast,NaN,Dutch merchant ship Zaandam torpedoed by the ...,NaN,M,NaN,FATAL,Y,NaN,NaN,"M. Murphy; V.M. Coppleson (1962), pp.207-208",1942.11.00.a-Izzi.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1942.11.00.a,1942.11.00.a,1603.0
4712,1942.06.00,Jun-1942,1942.0,Unprovoked,NaN,300 miles east of St. Thomas (Virgin Islands),NaN,On life raft tethered to lifeboat. A seaman pu...,male,M,NaN,Forearm lacerated,N,NaN,NaN,"V.M. Coppleson (1962), p.258",1942.06.00-on-life-raft.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1942.06.00,1942.06.00,1591.0
5020,1931.04.27.R,Reported 27-Apr-1931,1931.0,Unprovoked,NaN,French Southern Territories,Île Saint-Paul,"Fishing, boat capsized",Quillezic,M,NaN,FATAL,Y,NaN,NaN,"Los Angeles Times, 4/27/1931",1931.04.27.R-Quillezic.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1931.04.27.R,1931.04.27.R,1283.0
5425,1909.01.17,17-Jan-1909,1909.0,Invalid,NaN,NaN,Near the equator,Jumped overboard,Thomas Butler,M,36,FATAL,NaN,NaN,Questionable,"Star, 3/18/1909",1909.01.17-Butler.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1909.01.17,1909.01.17,878.0
5612,1897.03.15.b.R,Reported 15-Mar-1897,1897.0,Unprovoked,NaN,Mediterranean Sea,NaN,Swimming,male,M,NaN,FATAL,Y,NaN,NaN,"Daily Northwestern, 5/15/1897",1897.03.15.b.R-Mediterranean.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1897.03.15.b.R,1897.03.15.b.R,691.0
5742,1887.07.30,30-Jul-1887,1887.0,Sea Disaster,NaN,Gulf of California,NaN,"Sea disaster, wreck of the sloop Sara",2 males,M,NaN,FATAL,Y,NaN,NaN,"Austin Weekly Statesman, 8/11/1887",1887.07.30-TheSara.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1887.07.30,1887.07.30,561.0
5808,1881.08.16.R,Reported 16-Aug-1881,1881.0,Unprovoked,NaN,Western Banks,NaN,"Floating, holding onto an oar after dory capsized",George Sedgwick,M,20,FATAL,Y,NaN,NaN,"Lewiston Evening Journal, 8/16/1881",1881.08.16.R-Sedgwick.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1881.08.16.R,1881.08.16.R,495.0
5810,1881.06.25,25-Jul-1881,1881.0,Unprovoked,NaN,NaN,Santa Cruz,Bathing,Father Hudson,M,NaN,Survived,N,NaN,NaN,"Grey River Argus,10/3/1881, p.2",1881.06.25-FatherHudson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1881.06.25,1881.06.25,493.0
6137,1787.07.05,05-Jul-1787,1787.0,Unprovoked,NaN,St Helena,Landing Place,Swimming,Private Isaac Hicksled,M,NaN,FATAL,Y,NaN,NaN,"H.R. Janisch (1885), Extracts from the St. Hel...",1787.07.05-Hicksled.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1787.07.05,1787.07.05,166.0
6155,1742.12.17,17-Dec-1742,1742.0,Unprovoked,NaN,NaN,Carlisle Bay,Swimming,2 impressed seamen,M,NaN,FATAL,Y,NaN,NaN,"C. Moore, GSAF",1742.12.17-AdviceSeamen.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1742.12.17,1742.12.17,148.0
6175,0077.00.00,77 A.D.,77.0,Unprovoked,NaN,Ionian Sea,NaN,Sponge diving,males,M,NaN,FATAL,Y,NaN,NaN,Perils mentioned by Pliny the Elder (23 A.D. t...,77AD-Pliny.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,0077.00.00,0077.00.00,128.0
6177,0000.0214,Ca. 214 B.C.,0.0,Unprovoked,NaN,Ionian Sea,NaN,Ascending from a dive,"Tharsys, a sponge diver",M,NaN,"FATAL, shark/s bit him in two",Y,NaN,NaN,"Reported by Greek poet, Leonidas of Tarentum (...",214BC-Tharsys.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,0000.0214,0000.0214,126.0
6206,ND-0114,Before 2012,0.0,Unprovoked,NaN,NaN,In a river feeding into the Bay of Bengal,Netting shrimp,Sametra Mestri,F,NaN,Hand severed,N,NaN,NaN,National Georgraphic Television,ND-0114-BayOfBengal.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND-0114,ND-0114,97.0

Voy a llenar las celdas con valores nulos en la columna "Country" uno por uno. 
Después de un análisis, he sido consciente, en primer lugar, de que  en algunos índices, la información proporcionada a lo largo de esa fila no es suficiente para identificar el país. Estas filas serán eliminadas directamente. En el resto casos, al no ser muchos, completaré los valores manualmente.

In [36]:
df.drop([4700, 5425, 5612, 5808, 5810, 6206], inplace=True)

In [37]:
df.loc[2956, "Country"] = "ENGLAND" 
df.loc[3605, "Country"] = "USA" 
df.loc[4231, "Country"] = "INDIA" 
df.loc[4266, "Country"] = "MADAGASCAR" 
df.loc[4498, "Country"] = "CUBA" 
df.loc[4639, "Country"] = "CHINA" 
df.loc[4712, "Country"] = "USA" 
df.loc[5020, "Country"] = "FRANCE" 
df.loc[5742, "Country"] = "USA" 
df.loc[6137, "Country"] = "ENGLAND" 
df.loc[6155, "Country"] = "BARBADOS"
df.loc[6175, "Country"] = "GREECE/ITALY" 
df.loc[6177, "Country"] = "GREECE/ITALY"

In [38]:
df[df["Country"].isnull()]

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order
3387,1970.08.02,02-Aug-1970,1970.0,Invalid,NaN,Caribbean Sea,Between St. Kitts & Nevis,Sea Disaster Sinking of ferryboat Christina,NaN,NaN,NaN,"Sharks scavenged on bodies, but no record of t...",NaN,Afternoon,Shark involvement prior to death was not confi...,"Rome News Tribune, 8/3/1970",1970.08.02-Christina-ferryboat.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1970.08.02,1970.08.02,2916.0
4018,1960.01.26,26-Jan-1960,1960.0,Sea Disaster,NaN,"Between Timor & Darwin, Australia",NaN,Portuguese Airliner with 9 people aboard went ...,NaN,NaN,NaN,"As searchers approached wreckage, sharks circl...",N,NaN,NaN,"V.M. Coppleson (1962), p.260",1960.01.26-Portuguese airliner.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1960.01.26,1960.01.26,2285.0

In [39]:
nan_cols = df.isna().sum()
nan_cols[nan_cols>0]

Country                      2
Area                       423
Location                   508
Activity                   537
Name                       209
Sex                        563
Age                       2804
Injury                      26
Fatal (Y/N)                535
Time                      3323
Species                   2812
Investigator or Source      17
href formula                 1
dtype: int64

# 3.7. Columnas "Area" y "Location".

In [40]:
df["Area"].isnull().sum() / len(df) * 100

6.749640976543801

In [41]:
df["Location"].isnull().sum() / len(df) * 100

8.10595181107388

In [42]:
#podemos observar el alto porcentaje de valores nulos que hay en ambas columnas.

In [43]:
#Así, como primera decisión, he decidido eliminar la columna "Location". Esto es lo primero que haré.

In [44]:
df = df.drop(df.columns[df.columns.str.contains("Location")], axis=1)

In [45]:
#Con respecto a la de área, lo que haré será rellenar los valores nulos con la string: "Area situada en {nombre del país al que pertence}"

In [46]:
df[["Area", "Country"]]

                   Area             Country
0            California                 USA
1               Georgia                 USA
2                Hawaii                 USA
3       New South Wales           AUSTRALIA
4                Colima              MEXICO
...                 ...                 ...
6297  Western Australia           AUSTRALIA
6298  Western Australia           AUSTRALIA
6299     North Carolina                 USA
6300                NaN              PANAMA
6301   Eastern Province  CEYLON (SRI LANKA)

[6267 rows x 2 columns]

In [47]:
# Función para rellenar los valores nulos en 'Area' con una cadena basada en 'Country'

In [51]:
def rellenar_area(x):
    if pd.isna(x["Area"]):
        return f"Area perteneciente a: {x['Country']}"
    else:
        return x['Area']

In [52]:
df["Area"] = df.apply(rellenar_area, axis=1)

In [53]:
df.tail(50)

,Case Number,Date,Year,Type,Country,Area,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order
6251,ND.0054,Before 1958,0.0,Unprovoked,INDONESIA,Riau Province,Swimming near anchored ship,a ship's engineer,M,NaN,"FATAL, leg severed",Y,NaN,NaN,"C.H. Townsend, p. 172; V.M. Coppleson, p.258",ND-0054-NatunaIslands.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0054,ND.0054,52.0
6252,ND.0053,Before 1958,0.0,Unprovoked,INDIA,Maharashtra,NaN,male,M,NaN,FATAL,Y,NaN,NaN,"V.M. Coppleson (1958), p.261",ND-0053-India.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0053,ND.0053,51.0
6253,ND.0052,Before 1957,0.0,Unprovoked,NICARAGUA,Lake Nicaragua (fresh water),Lashing logs together when he fell into the water,an Indian,M,NaN,"FATAL, leg severed",Y,NaN,"Bull shark caught, leg recovered & buried besi...","F. Poli, pp.150-153",ND-0052-NicaraguanIndian.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0052,ND.0052,50.0
6254,ND.0051,Before 1957,0.0,Provoked,CUBA,Havana Province,"Shark fishing, knocked overboard",Sandrillio,M,50,"FATAL, hip bitten PROVOKED INCIDENT",Y,NaN,NaN,"F. Poli, pp.75, 81-83",ND-0051-Sandrillio.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0051,ND.0051,49.0
6255,ND.0049,Before 1956,0.0,Unprovoked,MARSHALL ISLANDS,Bikini Atoll,Swimming,male,M,NaN,Buttocks bitten,N,NaN,NaN,J.E. Lasch,ND-0049-BikiniAtoll.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0049,ND.0049,48.0
6256,ND.0048,Before 1956,0.0,Unprovoked,KIRIBATI,Phoenix Islands,Diving,Dusty Rhodes,M,NaN,No injury,N,NaN,NaN,"J. Oetzel, Skin Diver Magazine, March 1956, p.19",ND-0048-DustyRhodes.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0048,ND.0048,47.0
6257,ND.0047,Before Mar-1956,0.0,Unprovoked,NORTH PACIFIC OCEAN,Area perteneciente a: NORTH PACIFIC OCEAN,"Fishing, wading with string of fish",male,M,NaN,Survived,N,NaN,NaN,"J. Oetzel, Skin Diver Magazine, March 1956, p.19",ND-0047-WakeIsland.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0047,ND.0047,46.0
6258,ND.0046,Before 1952,0.0,Unprovoked,KIRIBATI,Gilbert Islands,NaN,Gilbertese fisherman,M,NaN,FATAL,Y,NaN,NaN,"Grimble, pp. 142-143",ND-0046-GilberteseFisherman.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0046,ND.0046,45.0
6260,ND.0043,"""During the war"" 1943-1945",0.0,Unprovoked,SOLOMON ISLANDS,New Georgia,Floating on his back,American male,M,NaN,Buttock bitten,N,NaN,NaN,"W. Chapman (1949) Fishing in Troubled Waters, ...",ND-0043-American-male.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0043,ND.0043,43.0
6261,ND.0042,"""Before the war""",0.0,Unprovoked,AUSTRALIA,Torres Strait,Free diving,Mortakee,M,NaN,Head bitten,N,NaN,NaN,Press clipping dated 6/28/1950,ND-0042-Mortakee.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0042,ND.0042,42.0
6262,ND.0041,"Said to be 1941-1945, more likely 1945",0.0,Unprovoked,IRAN,Khuzestan Province,Fishing in ankle-deep water,an old fisherman,M,NaN,"FATAL, foot lacerated & crushed",Y,NaN,NaN,"Lt. Col. R.S. Hunt, pp. 80-81",ND-0041-OldFisherman.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0041,ND.0041,41.0
6263,ND.0040,1941-1945,0.0,Unprovoked,IRAN,Khuzestan Province,NaN,a local dignitary,M,NaN,"FATAL, femoral artery severed, died 12 days la...",Y,NaN,NaN,Lt. Col. R.S. Hunt of the Royal Army Medical Corp,ND-0040-Local dignitary.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0040,ND.0040,40.0
6264,ND.0039,1941-1945,0.0,Unprovoked,IRAN,Khuzestan Province,"Standing, washing rear wheels of his ambulance...",I.A.S. C. driver,M,NaN,"FATAL, fell into water when shark seized his r...",Y,NaN,NaN,"Lt.Col. R.S. Hunt, p.79",ND-0039-AmbulanceDriver.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0039,ND.0039,39.0
6265,ND.0038,1941-1942,0.0,Unprovoked,IRAQ,Basrah,Swimming,male,M,13 or 14,"FATAL, left leg bitten with severe blood loss",Y,Afternoon,Bull shark,B.W. Coad & L.A.J. Al-Hassan,ND-0038-Shatt-al-Arab.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0038,ND.0038,38.0
6266,ND.0037,1940 - 1950,0.0,Unprovoked,SAUDI ARABIA,Eastern Province,Diving,a pearl diver,M,NaN,"FATAL, died of sepsis",Y,NaN,"""a black-tipped shark""",G.F. Mead,ND-0037-PearlDiver-sepsis.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0037,ND.0037,37.0
6267,ND.0036,1940 - 1950,0.0,Unprovoked,SAUDI ARABIA,Eastern Province,Diving,a fisherman / diver,M,NaN,Buttocks bitten,N,NaN,6' shark,G.F. Mead,ND-0036-Fisherman-SaudiArabia.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0036,ND.0036,36.0
6268,ND.0035,1940 - 1950,0.0,Unprovoked,SAUDI ARABIA,Eastern Province,Diving,a pearl diver,M,NaN,"Foot lacerated, surgically amputated",N,NaN,NaN,G.F. Mead,ND-0035-PearlDiver.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0035,ND.0035,35.0
6269,ND.0034,1940-1946,0.0,Sea Disaster,PACIFIC OCEAN,Area perteneciente a: PACIFIC OCEAN,NaN,"8 US airmen in the water, 1 was bitten by a shark",M,NaN,FATAL,Y,NaN,NaN,G. Llano,ND-0034-8-men-on-raft.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0034,ND.0034,34.0
6270,ND.0033,Before 1905,0.0,Provoked,BURMA,Area perteneciente a: BURMA,Carrying a supposedly dead shark by its mouth,boy,M,NaN,4 fingers severed by 'dead' shark. PROVOKED AC...,N,NaN,NaN,"Massillon Independent, 3/1905",ND-0033-Burma.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0033,ND.0033,33.0
6271,ND.0032,World War II,0.0,Sea Disaster,PAPUA NEW GUINEA,Between New Ireland & New Britain,Spent 8 days in dinghy,pilot,M,NaN,"No injury, but shark removed the heel & part o...",N,NaN,NaN,"G.A. Llano in Airmen Against the Sea, p.69; V....",ND-0032-RabaulPilot.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0032,ND.0032,32.0
6272,ND.0031,World War II,0.0,Sea Disaster,PAPUA NEW GUINEA,Madang Province,"Aircraft ditched in the sea, swimming ashore",male,M,NaN,Shark bumped him,N,NaN,NaN,"V.M. Coppleson (1962), p.257",ND-0031-Ditched-Aircrat.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0031,ND.0031,31.0
6273,ND.0030,Before 1905,0.0,Unprovoked,BURMA,Area perteneciente a: BURMA,Bathing,male,M,NaN,Fatal x 2,Y,NaN,NaN,"Massillon Independent, 3/1905",ND-0030-Burma.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0030,ND.0030,30.0
6274,ND.0028,A few years before 1938,0.0,Boat,ITALY,Adriatic Sea,Wooden fishing boat,Occupant: Mr. Maciotta,M,NaN,No injury to occupant; shark capsized boat,N,NaN,White shark,A. De Maddalena; Anon. (1938),ND-0028-Maciotta.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0028,ND.0028,29.0
6275,ND.0027,No date,0.0,Unprovoked,GREECE,Dodecanese Islands,Sponge diving,Psarofa-gomenes,M,NaN,Head bitten,N,NaN,NaN,M. N. Kalafatas,ND-0027-Psarofagomenos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0027,ND.0027,28.0
6276,ND.0026,Early 1930s,0.0,Unprovoked,BELIZE,Area perteneciente a: BELIZE,Standing,a servant,M,16,FATAL,Y,NaN,12' tiger shark,Mitchell-Hedges,ND-0026-Belize.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0026,ND.0026,27.0
6277,ND.0025,Before 1927,0.0,Unprovoked,AUSTRALIA,New South Wales,NaN,"male, the Sergeant of Marines",M,NaN,NaN,UNKNOWN,NaN,NaN,H. Capper,ND-0025-Sgt-SpectacleIsland.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0025,ND.0025,26.0
6278,ND.0024,Between 1918 & 1939,0.0,Unprovoked,REUNION,Saint-Denis,Swimming,NaN,NaN,NaN,FATAL,Y,NaN,NaN,G. Van Grevelynghe,ND-0024-Barachois-Reunion.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0024,ND.0024,25.0
6279,ND.0023,No date,0.0,Unprovoked,SOUTH AFRICA,Western Cape Province,Wading,Madelaine Dalton,F,NaN,Ankle bitten,N,NaN,NaN,"L. Green in Tavern of the Seas, p.182",ND-0023-Dalton.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0023,ND.0023,24.0
6280,ND.0022,No date,0.0,Unprovoked,AUSTRALIA,Area perteneciente a: AUSTRALIA,Pearl diving,Jaringoorli,M,NaN,Lacerations to thigh,N,NaN,NaN,"Adelaide Advertiser, 1/11/1940",ND-0022-Jaringoorli.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0022,ND.0022,23.0
6281,ND.0021,No date,0.0,Unprovoked,SOUTH AFRICA,KwaZulu-Natal,Swimming in pool formed by construction of a w...,Indian boy,M,NaN,"FATAL, leg severed",Y,NaN,NaN,"L. Green in South African Beachcomber, p.97",ND-0021-DurbanIndianBoy.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0021,ND.0021,22.0
6282,ND.0020,1920 -1923,0.0,Unprovoked,AUSTRALIA,Queensland,NaN,3 Japanese divers,M,NaN,FATAL,Y,NaN,NaN,"V.M. Coppleson (1958), p.241",ND-0020-3JapaneseDivers.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0020,ND.0020,21.0
6283,ND.0019,Before 1921,0.0,Unprovoked,USA,Florida,Fishing,James Kelley,M,NaN,2-inch lacerations,N,NaN,NaN,"T. Helm, p.219",ND-0019-Kelley.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0019,ND.0019,20.0
6284,ND.0018,Before 1911,0.0,Unprovoked,VIETNAM,Ba Ria-Vung Tau Province,Swimming around anchored ship,crewman,M,NaN,Foot bitten,N,NaN,NaN,"Daily Kennebec Journal, 3/27/1911",ND-0018-Vietnam.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0018,ND.0018,19.0
6285,ND.0017,Before 1921,0.0,Unprovoked,SOUTH AFRICA,KwaZulu-Natal,Crew swimming alongside their anchored ship,male,M,NaN,FATAL,Y,NaN,NaN,"Captain A. Anderson, Natal Mercury, 12/31/192...",ND-0017-alongside-ship.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0017,ND.0017,18.0
6286,ND.0016,Before 1921,0.0,Unprovoked,SOUTH AFRICA,KwaZulu-Natal,4 men were bathing,male,M,NaN,FATAL,Y,NaN,NaN,"Captain A. Anderson, Natal Mercury, 12/31/192...",ND-0016- Durban-PostOffice.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0016,ND.0016,17.0
6287,ND.0015,Before 1917,0.0,Unprovoked,FIJI,Moala Island,Wreck of large double sailing canoe,20 Fijians,NaN,NaN,"FATAL, 18 people were killed by sharks, 2 sur...",Y,NaN,NaN,"Fijian Society papers presented April 17, 1918...",ND-0015-FijianCanoe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0015,ND.0015,16.0
6288,ND.0014,Before 17-Jul-1916,0.0,Unprovoked,USA,North Carolina,Swimming,"""youthful male""",M,NaN,"""Lost leg""",N,NaN,NaN,"C. Creswell, GSAF; Wilmington Star, 7/17/1916",ND-0014-pre1916-NorthCarolina.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0014,ND.0014,15.0
6289,ND.0013,No date (3 days after preceding incident) & pr...,0.0,Unprovoked,SOUTH AFRICA,KwaZulu-Natal,Fishing,a native fisherman,M,NaN,"FATAL, body not recovered but shark was caught...",Y,NaN,NaN,"Rural New Yorker, 7/19/1913",ND-0013-Durban-native-fisherman.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0013,ND.0013,14.0
6290,ND.0012,Before 19-Jul-1913,0.0,Unprovoked,SOUTH AFRICA,KwaZulu-Natal,Wading,a young Scotsman,M,NaN,"FATAL, leg stripped of flesh",Y,NaN,NaN,"Rural New Yorker, 7/19/1913",ND-0012-Durban-Scotsman.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0012,ND.0012,13.0
6291,ND.0011,Before 1911,0.0,Unprovoked,ASIA?,Area perteneciente a: ASIA?,Swimming,Mr. Masury,M,NaN,Foot severed,N,NaN,NaN,"Ref. J. T. Dubois in N.Y. Sun, 3/19/1911",ND-0011-Masury.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0011,ND.0011,12.0
6292,ND.0010,Circa 1862,0.0,Unprovoked,USA,Hawaii,NaN,"A ""chiefess""",F,NaN,Ankle bitten,N,NaN,NaN,Captain W. Young,ND-0010-Puna Hawaii.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0010,ND.0010,11.0
6293,ND.0009,Before 1906,0.0,Unprovoked,AUSTRALIA,Area perteneciente a: AUSTRALIA,Fishing,boy,M,NaN,"FATAL, knocked overboard by tail of shark & ca...",Y,NaN,Blue pointer,"NY Sun, 9/9/1906, referring to account by Loui...",ND-0009-boy-Australia.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0009,ND.0009,10.0
6294,ND.0008,Before 1906,0.0,Unprovoked,AUSTRALIA,Area perteneciente a: AUSTRALIA,Fishing,fisherman,M,NaN,FATAL,Y,NaN,Blue pointer,"NY Sun, 9/9/1906, referring to account by Loui...",ND-0008-Fisherman2-Australia.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0008,ND.0008,9.0
6295,ND.0007,Before 1906,0.0,Unprovoked,AUSTRALIA,Area perteneciente a: AUSTRALIA,Fishing,fisherman,M,NaN,FATAL,Y,NaN,Blue pointers,"NY Sun, 9/9/1906, referring to account by Loui...",ND-0007 - Fisherman-Australia.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0007,ND.0007,8.0
6296,ND.0006,Before 1906,0.0,Unprovoked,AUSTRALIA,New South Wales,Swimming,Arab boy,M,NaN,FATAL,Y,NaN,Said to involve a grey nurse shark that leapt ...,"L. Becke in New York Sun, 9/9/1906; L. Schultz...",ND-0006-ArabBoy-Prymount.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0006,ND.0006,7.0
6297,ND.0005,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,Diving,male,M,NaN,FATAL,Y,NaN,NaN,"H. Taunton; N. Bartlett, p. 234",ND-0005-RoebuckBay.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0005,ND.0005,6.0
6298,ND.0004,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,Pearl diving,Ahmun,M,NaN,FATAL,Y,NaN,NaN,"H. Taunton; N. Bartlett, pp. 233-234",ND-0004-Ahmun.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0004,ND.0004,5.0
6299,ND.0003,1900-1905,0.0,Unprovoked,USA,North Carolina,Swimming,Coast Guard personnel,M,NaN,FATAL,Y,NaN,NaN,"F. Schwartz, p.23; C. Creswell, GSAF",ND-0003-Ocracoke_1900-1905.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0003,ND.0003,4.0
6300,ND.0002,1883-1889,0.0,Unprovoked,PANAMA,Area perteneciente a: PANAMA,NaN,Jules Patterson,M,NaN,FATAL,Y,NaN,NaN,"The Sun, 10/20/1938",ND-0002-JulesPatterson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0002,ND.0002,3.0
6301,ND.0001,1845-1853,0.0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,Swimming,male,M,15,"FATAL. ""Shark bit him in half, carrying away t...",Y,NaN,NaN,S.W. Baker,ND-0001-Ceylon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0001,ND.0001,2.0

In [54]:
nan_cols = df.isna().sum()
nan_cols[nan_cols>0]

Country                      2
Activity                   537
Name                       209
Sex                        563
Age                       2804
Injury                      26
Fatal (Y/N)                535
Time                      3323
Species                   2812
Investigator or Source      17
href formula                 1
dtype: int64

# 3.8 Columna "Activity".

In [55]:
df["Activity"].fillna("Unknown", inplace=True)

In [56]:
nan_cols = df.isna().sum()
nan_cols[nan_cols>0]

Country                      2
Name                       209
Sex                        563
Age                       2804
Injury                      26
Fatal (Y/N)                535
Time                      3323
Species                   2812
Investigator or Source      17
href formula                 1
dtype: int64

# 3.9 Columnas "Name" y "Sex".

In [57]:
null_name_sex = df["Name"].isnull() & df["Sex "].isnull()

In [59]:
df = df.dropna(subset=["Name", "Sex "], how="all")

Hasta aquí, he elimnado las filas en las que faltaba tanto el valor en la columna "Name" como en la columna "Sex".
A continuación, procederé a completar con la palbra "Unknown" las casillas donde no se conoce el nombre.

In [60]:
df["Name"].fillna("Unknown", inplace=True)

La columna "Name" ya no contiene valores nulos y he reducido la cantidad de valores nulos en la columna "Sex".
Ahora, revisaré los valores de la columna "Sex". Si no coinciden con "M" ni "F", procederé a eliminar la fila de forma directa."

In [61]:
valores_validos= ["M", "F"]

In [62]:
df ["Sex "].value_counts()

M      5065
F       634
M         2
lli       1
N         1
.         1
Name: Sex , dtype: int64

In [63]:
df = df[df["Sex "].isin(valores_validos)]

In [65]:
nan_cols = df.isna().sum()
nan_cols[nan_cols>0]

Age                       2276
Injury                      12
Fatal (Y/N)                457
Time                      2861
Species                   2566
Investigator or Source      15
href formula                 1
dtype: int64

# 3.10 Columna "Age".

In [66]:
df["Age"].value_counts()

17          152
18          148
19          140
20          138
15          137
           ...
45            1
21 or 26      1
20            1
>50           1
13 or 14      1
Name: Age, Length: 151, dtype: int64

In [67]:
df["Age"].fillna(0, inplace = True)

He rellenado temporalmente los valores nulos con ceros para poder operar con la columna (más adelante modificaré esta asignación).

Ahora, aplicaré una condición para almacenar únicamente los valores de la columna "Age" que tienen 1 o 2 caracteres. Posteriormente, crearé una nueva columna llamada "Age2", la cual rellenaré en su totalidad con ceros. Luego sistituiré las casillas coiuncidentes con los valores que cumplían la condición de "Age" por esos valores en "Age2".

In [68]:
condicion = (df["Age"].str.len() == 1) | (df["Age"].str.len() == 2)

In [69]:
filas_cumplen_condicion = df[condicion]

In [70]:
len(filas_cumplen_condicion)

3329

In [71]:
df["Age2"] = "0"

In [72]:
df.loc[condicion, "Age2"] = filas_cumplen_condicion["Age"]

In [73]:
df.head()

,Case Number,Date,Year,Type,Country,Area,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Age2
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,57
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,11
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,48
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Surfing,male,M,0,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,0
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,Free diving,Gustavo Ramos,M,0,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,0

In [74]:
df["Age2"] = pd.to_numeric(df["Age2"], errors="coerce")

In [75]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5699 entries, 0 to 6301
Data columns (total 22 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             5699 non-null   object
 1   Date                    5699 non-null   object
 2   Year                    5699 non-null   object
 3   Type                    5699 non-null   object
 4   Country                 5699 non-null   object
 5   Area                    5699 non-null   object
 6   Activity                5699 non-null   object
 7   Name                    5699 non-null   object
 8   Sex                     5699 non-null   object
 9   Age                     5699 non-null   object
 10  Injury                  5687 non-null   object
 11  Fatal (Y/N)             5242 non-null   object
 12  Time                    2838 non-null   object
 13  Species                 3133 non-null   object
 14  Investigator or Source  5684 non-null   object
 15  pdf                     5699 non-null   object
 16  href formula            5698 non-null   object
 17  href                    5699 non-null   object
 18  Case Number.1           5699 non-null   object
 19  Case Number.2           5699 non-null   object
 20  original order          5699 non-null   float64
 21  Age2                    5691 non-null   float64
dtypes: float64(2), object(20)
memory usage: 1.0+ MB

Voy a calcular la media de la columna excluyendo las filas que contienen el valor 0.

In [76]:
media_sin0_columna_age2 = df[df["Age2"] != 0]["Age2"].mean()
media_sin0_columna_age2

27.388738331827764

In [77]:
redondeo_media = round(media_sin0_columna_age2, 2)
redondeo_media

27.39

Y ahora voy a sustituir los 0 por la media que he obtenido:

In [78]:
df["Age2"].replace(0, redondeo_media, inplace=True)

In [79]:
nan_cols = df.isna().sum()

nan_cols[nan_cols>0]

Injury                      12
Fatal (Y/N)                457
Time                      2861
Species                   2566
Investigator or Source      15
href formula                 1
Age2                         8
dtype: int64

Parece ser que la longitud de la columna "Age" era menor, lo que ha resultado en algunos valores nulos en la recién creada. Procedo a rellenarlos con la media obtenida en el cálculo anterior.

In [80]:
df["Age2"].fillna(27.39, inplace=True)

In [82]:
nan_cols = df.isna().sum()
nan_cols[nan_cols>0]

Injury                      12
Fatal (Y/N)                457
Time                      2861
Species                   2566
Investigator or Source      15
href formula                 1
dtype: int64

In [83]:
df.shape

(5699, 22)

# 3.11 Columna "Injury".

Me dispongo a analizar los datos nulos en la columna "Injury" para determinar cuáles quiero conservar y cuáles eliminar.

In [84]:
df[df["Injury"].isnull()]

,Case Number,Date,Year,Type,Country,Area,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Age2
1270,2008.04.20.a,20-Apr-2008,2008.0,Unprovoked,AUSTRALIA,New South Wales,Unknown,Jamie Adlington,M,0,NaN,UNKNOWN,NaN,"Tiger shark, 2.3m","T. Peake, GSAF",2008.04.20.a-Adlington.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2008.04.20.a,2008.04.20.a,5033.0,27.39
2250,1997.06.07,07-Jun-1997,1997.0,Unprovoked,BRAZIL,Rio de Janeiro,Bathing,José Luiz Lipiani,M,0,NaN,UNKNOWN,NaN,NaN,"Globo, 6/9/1997",1997.06.07-NV-Lipiani.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1997.06.07,1997.06.07,4053.0,27.39
2267,1996.12.29,29-Dec-1996,1996.0,Unprovoked,AUSTRALIA,Queensland,Surfing,Blair Hall,M,18,NaN,UNKNOWN,18h00,NaN,"The Advertiser, 12/30/1996, p.3",1996.12.29-BlairHall.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1996.12.29,1996.12.29,4036.0,18.00
2648,1990.00.00,1990,1990.0,Unprovoked,USA,Florida,Surfing,male,M,17,NaN,UNKNOWN,NaN,NaN,NaN,1990.00.00-NV-Pensacola.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1990.00.00,1990.00.00,3655.0,17.00
3434,1969.05.22,22-May-1969,1969.0,Unprovoked,DOMINICAN REPUBLIC,Area perteneciente a: DOMINICAN REPUBLIC,Surfing,"Douglas Kuchn, Jr.",M,18,NaN,UNKNOWN,16h00,NaN,H.D.Baldridge (1994) SAF Case #1607,1969.05.22-NV-Kuchn.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1969.05.22,1969.05.22,2869.0,18.00
3841,1962.01.26,26-Jan-1962,1962.0,Unprovoked,MOZAMBIQUE,Gaza,Unknown,Domingos Zefanias Cumbe,M,16,NaN,UNKNOWN,NaN,NaN,D. Davies,1962.01.26-Cumbe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1962.01.26,1962.01.26,2462.0,16.00
5370,1912.05.04,04-May-1912,1912.0,Invalid,SOUTH AFRICA,KwaZulu-Natal,Unknown,arm recovered from hooked shark,M,0,NaN,NaN,NaN,Shark involvement prior to death unconfirmed,"M. Levine, GSAF",1912.05.04-arm.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1912.05.04,1912.05.04,933.0,27.39
5547,1901.06.29.R,Reported 29-Jun-1901,1901.0,Invalid,YEMEN,Aden,Diving around anchored liner,boy,M,0,NaN,NaN,NaN,Questionable,"The Graphic, 6/29/1901",1901.06.29.R-Aden.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1901.06.29.R,1901.06.29.R,756.0,27.39
6140,1784.12.12,12-Dec-1784,1784.0,Unprovoked,JAMAICA,Area perteneciente a: JAMAICA,Swimming,Richard Page,M,0,NaN,Y,22h00,NaN,"The Pennsylvaia Gazette, 3/16/1785",1784.12.12-Page.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1784.12.12,1784.12.12,163.0,27.39
6153,1755.00.00,1755,1755.0,Unprovoked,SWEDEN,Skagerrak arm of the North Sea,Unknown,Fishermen,M,0,NaN,UNKNOWN,NaN,NaN,"C. Moore, GSAF",1755.00.00-Sweden.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1755.00.00,1755.00.00,150.0,27.39
6172,1554.00.00,Ca. 1554,1554.0,Unprovoked,FRANCE,Nice & Marseilles,Unknown,males (wearing armor),M,0,NaN,UNKNOWN,NaN,Possibly white sharks,G. Rondelet,1554.00.00-Rondelet.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1554.00.00,1554.00.00,131.0,27.39
6277,ND.0025,Before 1927,0.0,Unprovoked,AUSTRALIA,New South Wales,Unknown,"male, the Sergeant of Marines",M,0,NaN,UNKNOWN,NaN,NaN,H. Capper,ND-0025-Sgt-SpectacleIsland.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0025,ND.0025,26.0,27.39

Después de revisar la tabla, inicialmente había planeado eliminar todas las filas excepto la que tiene índice 5370. Aquí, he notado que había información que me podía servir para rellanar la casilla de la columna "Injury" en la columna columna "Name". Sin embargo, más tarde me he dado cuenta de que también existían datos en la columna "Species" que guardaban relación con la información que estaba buscando. Al analizar estos datos, he identificado que ambos se contraponían entre ellos. Por lo tanto, mi decisión final es la de eliminar esta fila también, deshaciéndome así de la totalidad de ellas.

In [85]:
df = df.dropna(subset=["Injury"])

In [86]:
nan_cols = df.isna().sum()
nan_cols[nan_cols>0]

Fatal (Y/N)                455
Time                      2852
Species                   2558
Investigator or Source      14
href formula                 1
dtype: int64

# 3.12 Columna "Fatal (Y/N)".

Si la palabra "FATAL" aparece en la columna "Injury", voy a rellenar con la palabra "Y" en la misma fila de la columna "Fatal (Y/N)".

In [88]:
if df[df["Fatal (Y/N)"].isnull() & df["Injury"].isnull()].empty:
    print("No hay filas con valores nulos en ambos")
else:
    print("Hay filas con valores nulos en ambos") # Fill null values in 'Fatal (Y/N)' column with 'Y' or 'N' based on 'Injury' column

No hay filas con valores nulos en ambos

In [90]:
df["Fatal (Y/N)"].fillna("N", inplace=True) ## Fill null values in 'Fatal (Y/N)' column with 'N'

In [91]:
fatal_injury = df["Injury"].str.contains("FATAL", na=False) #Check where the 'Injury' column contains the word 'FATAL'

In [92]:
df.loc[fatal_injury, "Fatal (Y/N)"] = "Y" # Overwrite values in 'Fatal (Y/N)' column with 'Y' where 'Injury' column contains 'FATAL

In [93]:
nan_cols = df.isna().sum()
nan_cols[nan_cols>0]

Time                      2852
Species                   2558
Investigator or Source      14
href formula                 1
dtype: int64

In [94]:
nan_cols.sum()

5425

# 3.13 Columna "Time".

In [95]:
#al comienzo había tomado la decisión de Unknown pero por motivo del alto porcentaje de nulos xao.

In [96]:
df = df.drop(df.columns[df.columns.str.contains("Time")], axis=1)

# 3.14 Columna "Species".

In [194]:
df["Species "].fillna("Shark", inplace=True)

In [195]:
nan_cols = df.isna().sum()

nan_cols[nan_cols>0]

Series([], dtype: int64)

In [196]:
df.head()

,Case Number,Date,Year,Type,"Country, ocean or sea",Area,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Age2
0,2018.06.25,25-Jun-2018,2018,Boating,USA,California,Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,57.00
1,2018.06.18,18-Jun-2018,2018,Unprovoked,USA,Georgia,Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,Shark,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,11.00
2,2018.06.09,09-Jun-2018,2018,Invalid,USA,Hawaii,Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,Shark,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,48.00
3,2018.06.08,08-Jun-2018,2018,Unprovoked,AUSTRALIA,New South Wales,Surfing,Unknown,M,0,Minor injury to lower leg,N,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,27.39
4,2018.06.04,04-Jun-2018,2018,Provoked,MEXICO,Colima,Free diving,Gustavo Ramos,M,0,Lacerations to leg & hand shark PROVOKED INCIDENT,N,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,27.39

In [197]:
#he rellenado los valores vacíos de la columna "Species" con la palabra "Shark" ya que todo son ataques de tiburón.

# 3.15 Columna "Investigator or Source".

In [198]:
df = df.dropna(subset=["Investigator or Source"])

In [199]:
nan_cols = df.isna().sum()
nan_cols[nan_cols>0]

Series([], dtype: int64)

In [200]:
#ya he eliminado el nulo de la columna "Investigator or Source"

#los he eliminado porque eran pocos y no eran relevantes para mi estudio

# 3.16 Columna "href formula".

In [201]:
df["href formula"].fillna(df["href"], inplace=True)

In [202]:
#he quitado el nulo de la columna href formula poniendo el valor de href de esa misma fila porque coinciden

In [203]:
nan_cols = df.isna().sum()

nan_cols[nan_cols>0]

Series([], dtype: int64)

# 3.17 Columnas "Case Number. 1" y "Case Number. 2".

In [204]:
if df[df["Case Number.1"].isnull() & df ["Case Number.2"].isnull()].empty:
    print("No hay filas con valores nulos en ambos")
else:
    print("Hay filas con valores nulos en ambos")

No hay filas con valores nulos en ambos

In [205]:
null_case1 = df["Case Number.1"].isnull()

In [206]:
notnull_case2 = df["Case Number.2"].notnull()

In [207]:
df.loc[null_case1 & notnull_case2, "Case Number.1"] = df.loc[null_case1 & notnull_case2, "Case Number.2"]

In [208]:
nan_cols = df.isna().sum()

nan_cols[nan_cols>0]

Series([], dtype: int64)

In [209]:
#y ahora hacerlo a la inversa: revisando donde hay valores nulos en "Case Number. 2" y añadiendo el valor de su correspondiente fila de "Case Number. 1"

In [210]:
null_case2 = df["Case Number.2"].isnull()

In [211]:
notnull_case1 = df["Case Number.1"].notnull()

In [212]:
df.loc[null_case2 & notnull_case1, "Case Number.2"] = df.loc[null_case2 & notnull_case1, "Case Number.1"]

In [213]:
nan_cols = df.isna().sum()

nan_cols[nan_cols>0]

Series([], dtype: int64)

In [214]:
#viendo ahora que no hay ninguna fila donde falte un valor pero no el otro, voy a buscar los índices de los valores nulos en esas filas y eliminarlas (pues solo son 7)

In [215]:
null_case2

0       False
1       False
2       False
3       False
4       False
        ...
6297    False
6298    False
6299    False
6300    False
6301    False
Name: Case Number.2, Length: 5669, dtype: bool

In [216]:
index_null_case1 = df[df["Case Number.1"].isnull()].index
index_null_case1

Int64Index([], dtype='int64')

In [217]:
index_null_case2 = df[df["Case Number.2"].isnull()].index
index_null_case2

Int64Index([], dtype='int64')

In [218]:
#como vemos, coinciden, así que las voy a eliminar

In [219]:
df.drop(index = index_null_case1, inplace = True)

In [220]:
nan_cols = df.isna().sum()
nan_cols[nan_cols>0]

Series([], dtype: int64)

In [221]:
#Ya no hay nulos en "Case Number.1" ni en "Case Number.2"

# 4. Limpieza de los datos existentes.

# 4.1 Columna "Case Number".

In [222]:
np.set_printoptions(threshold=np.inf)

In [223]:
#df["Case Number"].unique()

In [224]:
df["Case Number"] = df["Case Number"].str.replace(r'\.[abcdR]$', '', regex=True)

In [225]:
df.head(10)

,Case Number,Date,Year,Type,"Country, ocean or sea",Area,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Age2
0,2018.06.25,25-Jun-2018,2018,Boating,USA,California,Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,57.00
1,2018.06.18,18-Jun-2018,2018,Unprovoked,USA,Georgia,Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,Shark,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,11.00
2,2018.06.09,09-Jun-2018,2018,Invalid,USA,Hawaii,Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,Shark,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,48.00
3,2018.06.08,08-Jun-2018,2018,Unprovoked,AUSTRALIA,New South Wales,Surfing,Unknown,M,0,Minor injury to lower leg,N,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,27.39
4,2018.06.04,04-Jun-2018,2018,Provoked,MEXICO,Colima,Free diving,Gustavo Ramos,M,0,Lacerations to leg & hand shark PROVOKED INCIDENT,N,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,27.39
5,2018.06.03,03-Jun-2018,2018,Unprovoked,AUSTRALIA,New South Wales,Kite surfing,Chris,M,0,"No injury, board bitten",N,Shark,"Daily Telegraph, 6/4/2018",2018.06.03.b-FlatRock.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.03.b,2018.06.03.b,6298.0,27.39
6,2018.06.03,03-Jun-2018,2018,Unprovoked,BRAZIL,Pernambuco,Swimming,Jose Ernesto da Silva,M,18,FATAL,Y,Tiger shark,"Diario de Pernambuco, 6/4/2018",2018.06.03.a-daSilva.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.03.a,2018.06.03.a,6297.0,18.00
7,2018.05.27,27-May-2018,2018,Unprovoked,USA,Florida,Fishing,Unknown,M,52,Minor injury to foot. PROVOKED INCIDENT,N,"Lemon shark, 3'","K. McMurray, TrackingSharks.com",2018.05.27-Ponce.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.05.27,2018.05.27,6296.0,52.00
8,2018.05.26,26-May-2018,2018,Unprovoked,USA,Florida,Walking,Cody High,M,15,Lower left leg bitten,N,"Bull shark, 6'","K.McMurray, TrackingSharks.com",2018.05.26.b-High.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.05.26.b,2018.05.26.b,6295.0,15.00
9,2018.05.26,26-May-2018,2018,Unprovoked,USA,Florida,Standing,Unknown,M,12,Minor injury to foot,N,Shark,"K. McMurray, Tracking Sharks.com",2018.05.26.a-DaytonaBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.05.26.a,2018.05.26.a,6294.0,12.00

In [226]:
#los he eliminado porque considero que para operar con los datos es incomodo que esté eso. Realmente tiene un motivo y es que cuando hay letras significa que ha habido varios casos el mismo día. Y la R significado que ha sido reportado entonces. Lo de que hay varios casos no nos interesa (ya tenemos la fecha) y lo de que ha sido reportado está también en la siguiente columna.

# 4.2 Columna "Year".

In [227]:
df.Year.unique()

array([2018, 2017, 2016, 2015, 2014, 2013, 2012, 2011, 2010, 2009, 2008,
       2007, 2006, 2005, 2004, 2003, 2002, 2001, 2000, 1999, 1998, 1997,
       1996, 1995, 1984, 1994, 1993, 1992, 1991, 1990, 1989, 1969, 1988,
       1987, 1986, 1985, 1983, 1982, 1981, 1980, 1979, 1978, 1977, 1976,
       1975, 1974, 1973, 1972, 1971, 1970, 1968, 1967, 1966, 1965, 1964,
       1963, 1962, 1961, 1960, 1959, 1958, 1957, 1956, 1955, 1954, 1953,
       1952, 1951, 1950, 1949, 1948, 1848, 1947, 1946, 1945, 1944, 1943,
       1942, 1941, 1940, 1939, 1938, 1937, 1936, 1935, 1934, 1933, 1932,
       1931, 1930, 1929, 1928, 1927, 1926, 1925, 1924, 1923, 1922, 1921,
       1920, 1919, 1918, 1917, 1916, 1915, 1914, 1913, 1912, 1911, 1910,
       1909, 1908, 1907, 1906, 1905, 1904, 1903, 1902, 1901, 1900, 1899,
       1898, 1897, 1896, 1895, 1894, 1893, 1892, 1891, 1890, 1889, 1888,
       1887, 1886, 1885, 1884, 1883, 1882, 1881, 1880, 1879, 1878, 1877,
       1876, 1875, 1874, 1873, 1872, 1871, 1870, 1869, 1868, 1867, 1866,
       1865, 1864, 1863, 1862, 1861, 1860, 1859, 1858, 1857, 1856, 1855,
       1853, 1852, 1851, 1850, 1849, 1847, 1846, 1845, 1844, 1842, 1841,
       1840, 1839, 1837, 1835, 1834, 1832, 1831, 1830, 1829, 1828, 1827,
       1826, 1825, 1819, 1818, 1817, 1816, 1815, 1812, 1810, 1808, 1807,
       1805, 1803, 1800, 1792, 1791, 1787, 1786, 1785, 1783, 1780, 1779,
       1776, 1771, 1764, 1758, 1753, 1751, 1749, 1748, 1742, 1738, 1723,
       1721, 1703, 1700, 1642, 1595, 1580, 1543,    0])

In [228]:
años = [500.0, 77.0, 5.0, 0.0]

In [229]:
df["Year"].isin(años)
indices_años_raros = df[df["Year"].isin(años)].index
indices_años_raros

Int64Index([6174, 6175, 6176, 6177, 6178, 6179, 6180, 6181, 6182, 6183,
            ...
            6292, 6293, 6294, 6295, 6296, 6297, 6298, 6299, 6300, 6301],
           dtype='int64', length=116)

In [230]:
df = df.replace([500.0, 77.0, 5.0], 0.0)

In [231]:
#al mirar cuales eran los valores de la columna year, he visto que había una serie de años que eran raros para ser u  año real, debe estar algo confundido. Por lo que he puesto el valor 0.0 para referirme a que no conocemos el año. Lo he puesto así en vez de unknown porque ahora lo voy a pasar a int y así se puede operar luego con esos valores.

In [232]:
df["Year"] = df["Year"].astype(int)

In [233]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5669 entries, 0 to 6301
Data columns (total 21 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             5669 non-null   object
 1   Date                    5669 non-null   object
 2   Year                    5669 non-null   int64
 3   Type                    5669 non-null   object
 4   Country, ocean or sea   5669 non-null   object
 5   Area                    5669 non-null   object
 6   Activity                5669 non-null   object
 7   Name                    5669 non-null   object
 8   Sex                     5669 non-null   object
 9   Age                     5669 non-null   object
 10  Injury                  5669 non-null   object
 11  Fatal (Y/N)             5669 non-null   object
 12  Species                 5669 non-null   object
 13  Investigator or Source  5669 non-null   object
 14  pdf                     5669 non-null   object
 15  href formula            5669 non-null   object
 16  href                    5669 non-null   object
 17  Case Number.1           5669 non-null   object
 18  Case Number.2           5669 non-null   object
 19  original order          5669 non-null   float64
 20  Age2                    5669 non-null   float64
dtypes: float64(2), int64(1), object(18)
memory usage: 974.4+ KB

# 4.3 Columna "Type".

In [234]:
df.Type.unique()

array(['Boating', 'Unprovoked', 'Invalid', 'Provoked', 'Questionable',
       'Unknown', 'Sea Disaster'], dtype=object)

In [235]:
#Con este resultado puedo intuir que Boatomg y Boat se referirán a Boating. Por lo que voy a cambiar esto dos valores a Boating.

In [236]:
df = df.replace(["Boat","Boatomg"], "Boating")

In [237]:
df.Type.unique()

array(['Boating', 'Unprovoked', 'Invalid', 'Provoked', 'Questionable',
       'Unknown', 'Sea Disaster'], dtype=object)

# 4.4 Columna "Country".

In [238]:
df.Country.unique()

AttributeError: 'DataFrame' object has no attribute 'Country'

In [239]:
df = df.replace(["ENGLAND","ST HELENA, British overseas territory"], "UNITED KINGDOM")
df = df.replace(["ST HELENA, British overseas territory"], "ST. HELENA, BRITISH OVERSEAS TERRITORY")
df = df.replace(["Fiji"], "FIJI")
df = df.replace(["GUAM",""], "USA")
df = df.replace(["NEVIS"], "ST. KITTS AND NEVIS")
df = df.replace(["Sierra Leone"], "SIERRA LEONE")
df = df.replace(["ST. MAARTIN"], "ST. MARTIN")
df = df.replace(["SUDAN?"], "SUDAN")
df = df.replace(["REUNION"], "REUNION ISLAND")
df = df.replace(["INDIAN OCEAN?"], "INDIAN OCEAN")
df = df.replace(["INDIAN OCEAN?"], "INDIAN OCEAN")
df = df.replace(["Coast of AFRICA?"], "COAST OF AFRICA")
df = df.replace(["Between PORTUGAL & INDIA"], " PORTUGAL / INDIA")
df = df.replace(["RED SEA?"], "RED SEA")
df = df.replace(["ASIA?"], "ASIA")
df = df.replace(["CEYLON (SRI LANKA)"], "SRI LANKA")
df = df.replace(["ANTARTICA"], "ANTARTIC CIRCLE")
df = df.replace(["PUERTO RICO"], "USA")
df = df.replace(["MACAU", "HONG KONG"], "CHINA")
df = df.replace(["FRENCH POLYNESIA", "NEW CALEDONIA"], "FRANCE (OVERSEAS COLLECTIVITY)")
df = df.replace(["WESTERN SAHARA"], "NORTH AFRICA")
df = df.replace(["GREENLAND"], "KINGDOM OF DENMARK")
df = df.replace(["ARUBA"], "KINGDOM OF THE NETHERLANDS")
df = df.replace(["DIEGO GARCIA"], "INDIAN OCEAN")
df = df.replace(["GREECE/ITALY"], "GREECE / ITALY")
df = df.replace(["Seychelles"], "SEYCHELLES")
df = df.replace([" TONGA"], "TONGA")
df = df.replace([" PORTUGAL / INDIA"], "PORTUGAL / INDIA")
df = df.replace(["  PHILIPPINES"], "PHILIPPINES")
df = df.replace(["AMERICAN SAMOA"], "USA")
df = df.replace(["COLUMBIA"], "USA")

In [145]:
countries_eliminar = ["ASIA", "OCEAN", "Coast of AFRICA", "AFRICA"]

In [146]:
df["Country"].isin(countries_eliminar)
indices_countries_eliminar = df[df["Country"].isin(countries_eliminar)].index
indices_countries_eliminar

Int64Index([5748, 6049, 6059, 6291], dtype='int64')

In [147]:
df.drop(indices_countries_eliminar, axis=0, inplace=True)

In [148]:
df.Country.unique()

array(['USA', 'AUSTRALIA', 'MEXICO', 'BRAZIL', 'UNITED KINGDOM',
       'SOUTH AFRICA', 'THAILAND', 'COSTA RICA', 'MALDIVES', 'BAHAMAS',
       'ECUADOR', 'FRANCE (OVERSEAS COLLECTIVITY)', 'MALAYSIA', 'CUBA',
       'MAURITIUS', 'NEW ZEALAND', 'SPAIN', 'SAMOA', 'SOLOMON ISLANDS',
       'JAPAN', 'EGYPT', 'REUNION ISLAND', 'UNITED ARAB EMIRATES',
       'PHILIPPINES', 'INDONESIA', 'CHINA', 'CAPE VERDE', 'FIJI',
       'DOMINICAN REPUBLIC', 'CAYMAN ISLANDS',
       'KINGDOM OF THE NETHERLANDS', 'MOZAMBIQUE', 'ITALY', 'ST. MARTIN',
       'FRANCE', 'PAPUA NEW GUINEA', 'TRINIDAD & TOBAGO', 'KIRIBATI',
       'ISRAEL', 'INDIAN OCEAN', 'TAIWAN', 'JAMAICA',
       'PALESTINIAN TERRITORIES', 'SEYCHELLES', 'BELIZE', 'NIGERIA',
       'TONGA', 'SCOTLAND', 'CANADA', 'SAUDI ARABIA', 'CHILE', 'ANTIGUA',
       'KENYA', 'RUSSIA', 'TURKS & CAICOS', 'UNITED ARAB EMIRATES (UAE)',
       'AZORES', 'SOUTH KOREA', 'MALTA', 'VIETNAM', 'MADAGASCAR',
       'PANAMA', 'SOMALIA', 'ST. KITTS AND NEVIS', 'CROATIA',
       'BRITISH VIRGIN ISLANDS', 'NORWAY', 'SIERRA LEONE',
       'ATLANTIC OCEAN', 'GRAND CAYMAN', 'LIBERIA', 'VANUATU', 'MEXICO ',
       'HONDURAS', 'VENEZUELA', 'SRI LANKA', 'URUGUAY', 'INDIA',
       'MICRONESIA', 'OKINAWA', 'TANZANIA', 'MARSHALL ISLANDS', 'SENEGAL',
       'EGYPT / ISRAEL', 'NORTHERN ARABIAN SEA', 'EL SALVADOR',
       'CARIBBEAN SEA', 'ANGOLA', 'BERMUDA', 'MONTENEGRO', 'IRAN',
       'GREECE', 'TUNISIA', 'NAMIBIA', 'NORTH ATLANTIC OCEAN', 'PORTUGAL',
       'SOUTH CHINA SEA', 'PALAU', 'WESTERN SAMOA', 'PACIFIC OCEAN ',
       'BRITISH ISLES', 'GRENADA', 'IRAQ', 'TURKEY', 'SINGAPORE',
       'NEW BRITAIN', 'SUDAN', 'JOHNSTON ISLAND', 'SOUTH PACIFIC OCEAN',
       'NEW GUINEA', 'RED SEA', 'NORTH PACIFIC OCEAN',
       'FEDERATED STATES OF MICRONESIA', 'MID ATLANTIC OCEAN',
       'ADMIRALTY ISLANDS', 'BRITISH WEST INDIES', 'SOUTH ATLANTIC OCEAN',
       'PERSIAN GULF', 'RED SEA / INDIAN OCEAN', 'PACIFIC OCEAN',
       'NORTH SEA', 'NICARAGUA ', 'MALDIVE ISLANDS',
       'ANDAMAN / NICOBAR ISLANDAS', 'GABON', 'MAYOTTE',
       'NORTH ATLANTIC OCEAN ', 'YEMEN', 'THE BALKANS', 'ARGENTINA',
       'MARTINIQUE', 'GUATEMALA', 'NETHERLANDS ANTILLES',
       'NORTHERN MARIANA ISLANDS', 'IRAN / IRAQ', ' PHILIPPINES',
       'CENTRAL PACIFIC', 'SOLOMON ISLANDS / VANUATU',
       'SOUTHWEST PACIFIC OCEAN', 'BAY OF BENGAL', 'MID-PACIFC OCEAN',
       'CURACAO', 'ICELAND', 'ITALY / CROATIA', 'NICARAGUA', 'MONACO',
       'GUYANA', 'BARBADOS', 'HAITI', 'SAN DOMINGO', 'IRELAND', 'KUWAIT',
       'LIBYA', 'YEMEN ', 'FALKLAND ISLANDS', 'CRETE', 'CYPRUS', 'EGYPT ',
       'WEST INDIES', 'BURMA', 'LEBANON', 'BRITISH NEW GUINEA', 'CEYLON',
       'GEORGIA', 'SYRIA', 'GUINEA', 'ANDAMAN ISLANDS',
       'EQUATORIAL GUINEA / CAMEROON', 'COOK ISLANDS', 'TOBAGO', 'PERU',
       'ALGERIA', 'TASMAN SEA', 'GHANA', 'MEDITERRANEAN SEA', 'ROATAN',
       'PORTUGAL / INDIA', 'GREECE / ITALY', 'BAHREIN', 'KOREA'],
      dtype=object)

In [151]:
df["Country"].value_counts()[100:150]

CENTRAL PACIFIC                 2
SOUTHWEST PACIFIC OCEAN         2
CRETE                           2
WEST INDIES                     2
TOBAGO                          2
MEDITERRANEAN SEA               2
GREECE / ITALY                  2
RED SEA                         2
UNITED ARAB EMIRATES            2
SOUTH PACIFIC OCEAN             2
PORTUGAL                        2
UNITED ARAB EMIRATES (UAE)      2
NAMIBIA                         2
TUNISIA                         2
ST. MARTIN                      2
NORWAY                          2
NORTH ATLANTIC OCEAN            2
JOHNSTON ISLAND                 2
PACIFIC OCEAN                   2
CAYMAN ISLANDS                  2
EL SALVADOR                     2
MEXICO                          1
GRAND CAYMAN                    1
KUWAIT                          1
BRITISH NEW GUINEA              1
IRELAND                         1
CYPRUS                          1
BRITISH VIRGIN ISLANDS          1
ST. KITTS AND NEVIS             1
MALDIVES                        1
FALKLAND ISLANDS                1
GEORGIA                         1
ANTIGUA                         1
EGYPT / ISRAEL                  1
SYRIA                           1
PALESTINIAN TERRITORIES         1
ANDAMAN ISLANDS                 1
EQUATORIAL GUINEA / CAMEROON    1
COOK ISLANDS                    1
PERU                            1
ALGERIA                         1
TASMAN SEA                      1
GHANA                           1
KINGDOM OF THE NETHERLANDS      1
ROATAN                          1
PORTUGAL / INDIA                1
BAHREIN                         1
SAN DOMINGO                     1
ANGOLA                          1
NORTHERN ARABIAN SEA            1
Name: Country, dtype: int64

In [152]:
#ahora voy a cambiar el nombre de la columna, ya que he permitido también mares y oceanos

In [153]:
df = df.rename(columns={"Country": "Country, ocean or sea"})

In [154]:
df.head()

,Case Number,Date,Year,Type,"Country, ocean or sea",Area,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Age2
0,2018.06.25,25-Jun-2018,2018,Boating,USA,California,Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,57.00
1,2018.06.18,18-Jun-2018,2018,Unprovoked,USA,Georgia,Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,11.00
2,2018.06.09,09-Jun-2018,2018,Invalid,USA,Hawaii,Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,48.00
3,2018.06.08,08-Jun-2018,2018,Unprovoked,AUSTRALIA,New South Wales,Surfing,male,M,0,Minor injury to lower leg,N,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,27.39
4,2018.06.04,04-Jun-2018,2018,Provoked,MEXICO,Colima,Free diving,Gustavo Ramos,M,0,Lacerations to leg & hand shark PROVOKED INCIDENT,N,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,27.39

# 4.5 Columna "Activity".

In [155]:
np.set_printoptions(threshold=np.inf)

In [156]:
pd.set_option("display.max_columns", None)

In [157]:
df.Activity.value_counts().head()

Surfing         938
Swimming        838
Unknown         380
Fishing         335
Spearfishing    315
Name: Activity, dtype: int64

In [257]:
def limpiar_activity(x):
    
    
    if 'shing' in x:
        return 'Fishing'
    
    elif 'urf' in x:
        return 'Surfing'
    
    elif 'wim' in x:
        return 'Swimming'
    
    elif 'thin' in x:
        return 'Bathing'
    
    elif 'adin' in x:
        return 'Wading'
    
    elif 'ivin' in x:
        return 'Diving'

    elif 'tand' in x:
        return 'Standing'
    
    elif 'nork' in x:
        return 'Snorkeling'
    
    elif 'ody div' in x:
        return 'Scuba diving'
    
    elif 'ody board' in x:
        return 'Body boarding'
    
    elif 'ody surf' in x:
        return 'Body surfing'
    
    elif 'ayak' in x:
        return 'Kayaking'
    
    elif 'Scuba diving' in x:
        return 'Scuba diving'
    
    else:
        return 'unknown'

In [258]:
df.Activity.value_counts().tail(50)

Fishing from 34' boat when pulled overboard by hooked shark                                                                                              1
Spearfishing, but standing in knee-deep water                                                                                                            1
Body surfing                                                                                                                                             1
Free diving / spearfishing (resting on the surface)                                                                                                      1
Helping men land a shark                                                                                                                                 1
The World Liberty and the tanker Mosli collided. The  Halcyon Breeze sent a lifeboat to the rescue, but it was smashed, throwing 6 men in the  water.    1
The passenger ship Pioneer Cebu  capsized & sank in Typhoon Irma                                                                                         1
Diving / UW photography                                                                                                                                  1
Sinking of the dredge World Atlas                                                                                                                        1
Killing a shark                                                                                                                                          1
Diving for sand dollars                                                                                                                                  1
Attacked shark with fists                                                                                                                                1
Lobster diving using Scuba                                                                                                                               1
Netting sharks                                                                                                                                           1
Netting pilchards                                                                                                                                        1
Surf-fishing                                                                                                                                             1
Freediving for abalone (at surface)                                                                                                                      1
Scuba diving for abalone (at surface)                                                                                                                    1
Adrift after the sinking of the motor yacht Princess Dianne                                                                                              1
Free diving for abalone (submerged)                                                                                                                      1
3.3 m fishing boat sank. Treveluwe & Peter Hodgson (wearing lifejackets) were drifting in the current                                                    1
Swimming underwater from crayfish cage to a fishing bait                                                                                                 1
Attempting to drag hooked shark ashore by its tail                                                                                                       1
Swimming near his boat                                                                                                                                   1
Floating on a small orange raft                                                                                                                          1
Scuba diving for lobsters                                                                                                                                1
Filming & feeding captive sharks                                                                                                                         1
Spearfishing / scuba diving                                                                                                                              1
Sitting in bow of her father's 5 m boat                                                                                                                  1
Surfing, fell off surfboard                                                                                                                              1
3,909-ton Panamanian freighter Chieh Lee sank in a typhoon                                                                                               1
Skindiving,                                                                                                                                              1
Free diving (but on surface)                                                                                                                             1
Fishing boat swamped in a storm                                                                                                                          1
Sitting                                                                                                                                                  1
Swimming alongside yacht Mexico Fiesta                                                                                                                   1
Being pulled to shore from wreck of 25-ton fishing vessel Alan S                                                                                         1
Crabbing (spearing crabs)                                                                                                                                1
Fishing from paddleski                                                                                                                                   1
Scuba diving & U/W photography                                                                                                                           1
Free diving, collecting shells                                                                                                                           1
Scuba diving & feeding fish                                                                                                                              1
Hookah diving (submerged)                                                                                                                                1
Air disaster                                                                                                                                             1
Attempted to return injured shark to the sea                                                                                                             1
Spearfishing / freediving                                                                                                                                1
Washing cooking pans                                                                                                                                     1
Washing clothes on stairs                                                                                                                                1
Fishing, trying to catch the end of his fishing line                                                                                                     1
4 men were bathing                                                                                                                                       1
Name: Activity, dtype: int64

In [160]:
df["Activity"].nunique()

1367

# 4.6 Columna "Name".

In [161]:
df["Name"].value_counts()

male               530
female              97
Unknown             63
boy                 22
2 males             15
                  ...
Terrill Crane        1
Godfrey Msemwa       1
Gary Adkison         1
Jason Armstrong      1
Jules Patterson      1
Name: Name, Length: 4815, dtype: int64

In [162]:
df['Name'] = df['Name'].replace(['male', 'female', "boy", "2 males", "boat", "child", "Anonymous", "sailor", "males", "a sailor", "girl", "Unidentified", "a pearl diver", "fisherman", "a native", "a soldier", "Arab boy", "2 fishermen", "black male", " male", "Zulu male", "native boy", "aboriginal male", "Japanese diver", "unknown", "Russian male", "2 women", "M.C.", "woman", "dinghy", "soldier", "teen", "Japanese fisherman", "a native fisherman", "a school teacher", "Fijian girl"], "Unknown")

In [163]:
df['Name'] = df['Name'].replace(["Indian male", "a pilot", "3 males", "12' dinghy", "a local dignitary", "American male", "Indian female", "2 men", "fishermen native", " 2 males", "a youth", "crew", "soldier"], "Unknown")

In [164]:
#Podría seguir pero por falta de tiempo, lo dejaré así.

In [165]:
df["Name"].value_counts().head()

Unknown                 857
John Williams             3
Andre Hartman             3
Greg Pickering            2
Rafael Hermes Thomas      2
Name: Name, dtype: int64

In [166]:
df["Name"].nunique()

4773

In [167]:
df.head()

,Case Number,Date,Year,Type,"Country, ocean or sea",Area,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Age2
0,2018.06.25,25-Jun-2018,2018,Boating,USA,California,Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,57.00
1,2018.06.18,18-Jun-2018,2018,Unprovoked,USA,Georgia,Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,11.00
2,2018.06.09,09-Jun-2018,2018,Invalid,USA,Hawaii,Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,48.00
3,2018.06.08,08-Jun-2018,2018,Unprovoked,AUSTRALIA,New South Wales,Surfing,Unknown,M,0,Minor injury to lower leg,N,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,27.39
4,2018.06.04,04-Jun-2018,2018,Provoked,MEXICO,Colima,Free diving,Gustavo Ramos,M,0,Lacerations to leg & hand shark PROVOKED INCIDENT,N,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,27.39

# 4.7 Columna "Injury".

In [168]:
df["Injury"].value_counts()

FATAL                                                                   742
Foot bitten                                                              84
Survived                                                                 78
No injury                                                                74
Leg bitten                                                               71
                                                                       ...
Severely bitten on lower leg                                              1
Shark involvement probably post-mortem                                    1
Minor laceration on left leg                                              1
Leg pinched                                                               1
FATAL. "Shark bit him in half, carrying away the lower extremities"       1
Name: Injury, Length: 3345, dtype: int64

In [169]:
#como esta columna tampoco resulta de especial relevancia, lo único que voy a hacer es eliminar la palabra FATAL de las casillas donde esté. Esto por motivo de que ya hay una columna que contiene esa información.

# 4.8 Columna "Fatal (Y/N)".

In [170]:
df["Fatal (Y/N)"].value_counts()

N          4330
Y          1301
UNKNOWN      29
 N            7
M             1
2017          1
Name: Fatal (Y/N), dtype: int64

In [171]:
df["Fatal (Y/N)"] = df["Fatal (Y/N)"].replace([" N"], "N")

In [172]:
df["Fatal (Y/N)"] = df["Fatal (Y/N)"].replace(["M", "2017"], "UNKNOWN")

In [173]:
df["Fatal (Y/N)"].value_counts()

N          4337
Y          1301
UNKNOWN      31
Name: Fatal (Y/N), dtype: int64

# 4.9 Columna "Species".

In [240]:
df.head()

,Case Number,Date,Year,Type,"Country, ocean or sea",Area,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Age2
0,2018.06.25,25-Jun-2018,2018,Boating,USA,California,Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,57.00
1,2018.06.18,18-Jun-2018,2018,Unprovoked,USA,Georgia,Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,Shark,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,11.00
2,2018.06.09,09-Jun-2018,2018,Invalid,USA,Hawaii,Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,Shark,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,48.00
3,2018.06.08,08-Jun-2018,2018,Unprovoked,AUSTRALIA,New South Wales,Surfing,Unknown,M,0,Minor injury to lower leg,N,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,27.39
4,2018.06.04,04-Jun-2018,2018,Provoked,MEXICO,Colima,Free diving,Gustavo Ramos,M,0,Lacerations to leg & hand shark PROVOKED INCIDENT,N,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,27.39

In [241]:
df["Species "].value_counts().head(50)

Shark                                                 2548
White shark                                            140
Invalid                                                 88
Shark involvement prior to death was not confirmed      84
Shark involvement not confirmed                         77
Tiger shark                                             69
Shark involvement prior to death unconfirmed            55
Bull shark                                              50
6' shark                                                39
4' shark                                                39
1.8 m [6'] shark                                        34
1.5 m [5'] shark                                        31
Questionable                                            29
Questionable incident                                   26
1.2 m [4'] shark                                        26
3' shark                                                26
4' to 5' shark                                          24
5' shark                                                24
2 m shark                                               22
3 m [10'] shark                                         21
Wobbegong shark                                         21
No shark involvement                                    18
3' to 4' shark                                          18
2.4 m [8'] shark                                        15
3 m shark                                               14
1.2 m to 1.5 m [4' to 5'] shark                         14
Blue shark                                              14
3.7 m [12'] shark                                       13
Blacktip shark                                          13
1.5 m shark                                             13
7' shark                                                12
12' shark                                               12
Bronze whaler shark                                     12
5 m [16.5'] white shark                                 12
"a small shark"                                         12
Nurse shark                                             12
10' shark                                               11
6 m [20'] white shark                                   11
Raggedtooth shark                                       11
Zambesi shark                                           10
Grey nurse shark                                        10
Mako shark                                               9
a small shark                                            9
Shark involvement prior to death not confirmed           9
4 m [13'] white shark                                    9
White shark, 4 m [13']                                   9
Hammerhead shark                                         9
1 m shark                                                9
2' to 3' shark                                           8
3 m [10'] white shark                                    8
Name: Species , dtype: int64

In [242]:
palabras_clave = ["Not", "not", "Unconfirmed", "unconfirmed", "Questionable", "questionable" "No", "no"]

In [245]:
df.head()

,Case Number,Date,Year,Type,"Country, ocean or sea",Area,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Age2
0,2018.06.25,25-Jun-2018,2018,Boating,USA,California,Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,57.00
1,2018.06.18,18-Jun-2018,2018,Unprovoked,USA,Georgia,Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,Shark,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,11.00
2,2018.06.09,09-Jun-2018,2018,Invalid,USA,Hawaii,Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,Shark,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,48.00
3,2018.06.08,08-Jun-2018,2018,Unprovoked,AUSTRALIA,New South Wales,Surfing,Unknown,M,0,Minor injury to lower leg,N,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,27.39
4,2018.06.04,04-Jun-2018,2018,Provoked,MEXICO,Colima,Free diving,Gustavo Ramos,M,0,Lacerations to leg & hand shark PROVOKED INCIDENT,N,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,27.39

In [246]:
indices = df[df["Species "].str.contains('|'.join(palabras_clave))].index
indices

Int64Index([  16,   20,   31,   44,   79,  115,  153,  159,  189,  195,
            ...
            6014, 6035, 6037, 6046, 6078, 6111, 6126, 6164, 6227, 6230],
           dtype='int64', length=338)

In [247]:
df = df.drop(indices)

In [248]:
#He decidido eliminar todas las celdas que contenían estas palabras pòrque no era seguro el hecho de que un tiburon estuviera involcreadoi t este dataframe es de ataques de tiburon. Esas casiollas no eran necesarias.

In [249]:
#Como en el restyo de ellas un tiburon ha estado involucrdo, rellenaré todas las columnas con "Shark involved". La especie que sea no es necesaria para el esrtudio.

In [250]:
df["Species "].value_counts().head(50)

Shark                              2548
White shark                         140
Invalid                              88
Tiger shark                          69
Bull shark                           50
4' shark                             39
6' shark                             39
1.8 m [6'] shark                     34
1.5 m [5'] shark                     31
1.2 m [4'] shark                     26
3' shark                             26
5' shark                             24
4' to 5' shark                       24
2 m shark                            22
Wobbegong shark                      21
3 m [10'] shark                      21
3' to 4' shark                       18
No shark involvement                 18
2.4 m [8'] shark                     15
3 m shark                            14
1.2 m to 1.5 m [4' to 5'] shark      14
Blue shark                           14
1.5 m shark                          13
Blacktip shark                       13
3.7 m [12'] shark                    13
5 m [16.5'] white shark              12
7' shark                             12
Nurse shark                          12
Bronze whaler shark                  12
12' shark                            12
"a small shark"                      12
10' shark                            11
6 m [20'] white shark                11
Raggedtooth shark                    11
Zambesi shark                        10
Grey nurse shark                     10
Mako shark                            9
1 m shark                             9
4 m [13'] white shark                 9
White shark, 4 m [13']                9
Hammerhead shark                      9
a small shark                         9
Unidentified species                  8
2' to 3' shark                        8
2.1 m [7'] shark                      8
3 m [10'] white shark                 8
"small shark"                         8
1.8 m shark                           7
8' shark                              7
Bull shark, 6'                        7
Name: Species , dtype: int64

In [251]:
df["Species "] = "Shark involved"

In [252]:
df["Species "].value_counts().head()

Shark involved    5331
Name: Species , dtype: int64

In [253]:
df = df.rename(columns={"Species ": "Animal involved"})

In [254]:
df.head()

,Case Number,Date,Year,Type,"Country, ocean or sea",Area,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Animal involved,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Age2
0,2018.06.25,25-Jun-2018,2018,Boating,USA,California,Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,Shark involved,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,57.00
1,2018.06.18,18-Jun-2018,2018,Unprovoked,USA,Georgia,Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,Shark involved,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,11.00
2,2018.06.09,09-Jun-2018,2018,Invalid,USA,Hawaii,Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,Shark involved,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,48.00
3,2018.06.08,08-Jun-2018,2018,Unprovoked,AUSTRALIA,New South Wales,Surfing,Unknown,M,0,Minor injury to lower leg,N,Shark involved,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,27.39
4,2018.06.04,04-Jun-2018,2018,Provoked,MEXICO,Colima,Free diving,Gustavo Ramos,M,0,Lacerations to leg & hand shark PROVOKED INCIDENT,N,Shark involved,A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,27.39

In [255]:
df.shape

(5331, 21)

In [256]:
cte_cols = []


for c in df.select_dtypes(include=np.number):   # para cada columna numerica.....
    
    if df[c].std() == 0:
        
        cte_cols.append(c)
        
        
cte_cols

[]